.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(23, 22, 22);
}
.navigation {
  background-color: rgb(23, 22, 22);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 50px;
  color: white;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}
samp img {
  height: 40px;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: space-between;
  font-weight: 300;
}
.list > li > a {
  text-decoration: none;
  color: white;
}
.list > li > a ::before {
  border: 2px solid white;
  background-color: white;
  border-radius: 0px 0px 4p 4px;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0px;
  opacity: 0;
  position: absolute;
  right: 0px;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  width: auto;
}
.list > li > a:hover::before {
  transform: scaleX(1);
  visibility: visible;
  opacity: 1 !important;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
  display: flex;
  justify-items: flex-end;
  gap: 10px;

  box-sizing: border-box;
}
.right > input {
  border-radius: 30px;
  width: 60%;
  height: 60%;
  padding: 0px 7px 0px 7px;
  border: none;
  background-color: rgb(120, 118, 118);
  color: white;
}
.right > input::placeholder {
  color: white;
  text-align: center;
}
.right > button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: none;
  background-color: rgb(216, 216, 216);
}
.right > button:hover {
  box-shadow: 2px 2px 20px rgb(169, 168, 168);
}
.text {
  color: white;
  position: absolute;
  top: 40%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subheading {
  letter-spacing: 10px;
  text-shadow: 2px 2px #d53369;
}
.heading {
  font-size: 50px;
  letter-spacing: 4px;
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}
.image {
  display: flex;

  position: absolute;
  top: 20%;
  right: 7%;
  z-index: 1;

  width: 300px;
  height: 400px;
  border-right: 2px solid rgb(129, 110, 87);
  border-bottom: 2px solid rgb(129, 110, 87);
}
.travel-img {
  position: relative;
  left: -20px;
  top: -20px;
  box-shadow: 2px 2px 10px rgb(227, 159, 81);
}
.circle1 {
  border: 2px solid white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  top: 15%;
  left: -5%;
}

.circle-overlap {
  border: 2px solid white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  top: -5%;
  left: -10%;
}
.circle-right {
  border: 2px solid white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 5%;
}
.circle-right2 {
  border: 2px solid white;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 22%;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;

  height: 100vh;
  background-color: aquamarine;
}
.content > h1 {
  align-self: center;
}
.footer {
  height: 50px;
  background-color: antiquewhite;
}
.logo {
  height: 40px;
  width: 40px;
}
